* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding-bottom: 5rem;
}

.icon-bar {
    width: 100px;
    position: absolute;
    align-self: center;
    margin: 10px;
    top: 50%;
    translate: 0 -50%;
    position: fixed;
}

.icon img {
    width: 80px;
    position: relative;
    display: block;
    padding: 8px;
    transition: all 0.3s ease;
}

.icon-bar img:hover {
    background-color: #a6a6a6;
    border-radius: 100%;
}

.icon-text {
    display: none;        
}

a:hover .icon-text {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.box-size{
    width: 120%;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    border-radius: 20px;
    background-color: #ebedee;
    text-align: center;
    z-index: +1;
}

main div {
    width: 80%;
    position: relative;
    left: 150px;
    top: 40px;
}

.title-h1-tp {
    text-align: center;
    padding-bottom: 20px
}

.title-h3-tp {
    padding-bottom: 20px;
}

.text {
    text-align: justify;
    line-height: 20px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-top {

    background-color: #a6a6a6;
    height: 80px;
}

.img-1{
    z-index: -1;
}

figcaption {
    border: black solid 1px;
    background-color: #ebedee;
    width: 500px;
    text-align: center;
}

.flex-container{
    background-color: #a6a6a6;
    display: flex;
    height: 70px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-container div > img{
    padding: 5px;
}

.flex-container div > a{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #ffffff;
    box-sizing: border-box;
}